//Global styles, such as resets, typography, colors, etc.

html,
body {
	font-family: 'Open Sans', sans-serif;
}

// font size
$hero-h1-lg: 34px;
$hero-h1-md: 30px;
$hero-p-lg: 14px;
$body-p-lg: 16px;

$hero-h1-xs: 26px;
$body-p-xs: 14px;

$header-lh: 44px;
$header-lh-md: 40px;
$header-lh-xs: 36px;

$body-lh-lg: 22px;
$body-lh-xs: 20px;

// measurements

$adelphi-colors: (
	'primary': #1F8A70,
	'accent': #BEDB39,
	'secondary': #FD7400,
	'foreground': #FFE11A,
	'background': #004358
);

@function adelphi-color($key: 'primary') {
  @return map-get($adelphi-colors, $key);
}
