.hero--about {
    background-image: url('http://alvisng.me/adelphi_coffee/dist/images/adelphi-about-header-bg.jpg');
    .hero__jumbotron--title {
        line-height: $header-lh-xs;
        @media only screen and (min-width: 992px) {
            line-height: $header-lh;
        }
    }
}

.founder__details {
    @extend .story__details;
}

.chef {
    .story__moment {
        margin-bottom: auto;
    }
}

.story__moment {
    @media only screen and (min-width : 480px) {
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.chef__details {
    @extend .menu__details;
    margin-top: auto;
}

.story__moment {
    margin: 50px auto;
    @media only screen and (min-width: 992px) {
        margin: 0;
    }
}
