/// Hero section
/// Background
.hero__jumbotron {
	background-image: url('http://alvisng.me/adelphi_coffee/dist/images/adelphi-home-header-bg.jpg');
	background-position: center center;
	background-size: cover;
	height: 525px;
	@media only screen and (min-width: 992px) {
		height: 455px;
		margin-bottom: 0;
	}
}


/// Removed jumbotron radius
.jumbotron.hero__jumbotron {
	border-radius: 0;
	color: #FFFFFF;
	a {
		img {
			height: 50px;
			width: 50px;
			transform: rotate(90deg);
		}
	}
}

.hero__jumbotron--inner {
	padding-top: 98px;
}

h1.hero__jumbotron--title {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: $hero-h1-xs;
	line-height: $header-lh-xs;

	span {
		font-weight: 600;
	}

	@media only screen and (min-width: 992px) {
		font-size: $hero-h1-lg;
		line-height: $header-lh;
	}
}

p.hero__jumbotron--subtitle {
	font-size: $hero-p-lg;
	padding-top: 33px;
}

a.hero--scrolldown {
	img {
		margin-top: 50px;
	}
}

%detail-left {
	padding-left: 46px;
	padding-right: 170px;
}

%detail-right {
	padding-left: 170px;
	padding-right: 46px;
}

/// Story section
.story__details {

	@media only screen and (min-width: 992px) {
		padding-left: 46px;
		padding-right: 150px;
		padding-top: 25px;
	}

	@media only screen and (min-width : 1200px) {
		padding-left: 46px;
		padding-right: 170px;
		padding-top: 50px;
	}

	h1 {
		text-transform: uppercase;
		font-weight: 300;
		font-size: $hero-h1-xs;
		line-height: $header-lh-xs;
		letter-spacing: 5px;
		text-align: center;

		@media only screen and (min-width: 992px) {
			font-size: $hero-h1-md;
			line-height: $header-lh-md;
			text-align: left;
		}

		@media only screen and (min-width : 1200px) {
			font-size: $hero-h1-lg;
			line-height: $header-lh + 14px;
		}

		span {
			font-weight: 700;
		}
	}

	p {
		font-size: $body-p-xs;
		line-height: $body-lh-xs;
		padding-left: 25px;
		padding-right: 25px;
		text-align: center;
		@media only screen and (min-width: 992px) {
			text-align: left;
			padding-left: 0;
			padding-right: 0;
			font-size: $body-p-lg;
			line-height: $body-lh-lg;
		}
	}

	a {
		font-weight: 16px;
		font-weight: 700;
		position: relative;
		top: 22px;
		color: #101820;
		img {
			height: 20px;
			width: 50px;
		}
	}
}

.story__image {
	margin: 50px auto;
	@media only screen and (min-width: 992px) {
		margin: 0;
	}
	@media only screen and (min-width : 480px) {
		img {
			width: 100%;
			height: auto;
		}
  }
}

.experience__slide .experience__slide--content {
	@media only screen and (min-width: 992px) {
		padding-left: 150px;
		padding-right: 46px;
		right: 15%;
	}
}

h1.experience__slide--title {
	font-size: $hero-h1-xs;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 5px;
	@media only screen and (min-width: 992px) {
		font-size: $hero-h1-lg;
		line-height: $header-lh + 14px;
	}
	span {
		font-weight: 700;
	}
}

p.experience__slide--caption {
	font-size: $body-p-xs;
	line-height: $body-lh-xs;
	@media only screen and (min-width: 992px) {
		font-size: 16px;
		line-height: 22px;
	}
}

/// Menu section
.menu__details {
	@media only screen and (min-width: 992px) {
		padding-left: 150px;
		padding-right: 46px;
		padding-top: 25px;
	}

	@media only screen and (min-width : 1200px) {
		padding-left: 170px;
		padding-right: 46px;
		padding-top: 50px;
	}


	h1 {
		text-transform: uppercase;
		font-weight: 300;
		font-size: $hero-h1-xs;
		line-height: $header-lh-xs;
		letter-spacing: 5px;
		text-align: center;

		@media only screen and (min-width: 992px) {
			font-size: $hero-h1-md;
			line-height: $header-lh-md;
			text-align: left;
		}
		@media only screen and (min-width : 1200px) {
			font-size: $hero-h1-lg;
			line-height: $header-lh + 14px;
		}

		span {
			font-weight: 700;
		}
	}

	p {
		font-size: $body-p-xs;
		line-height: $body-lh-xs;
		padding-left: 25px;
		padding-right: 25px;
		text-align: center;
		@media only screen and (min-width: 992px) {
			font-size: 16px;
			padding-left: 0;
			padding-right: 0;
			line-height: 22px;
			text-align: left;
		}
	}

	p.menu__link {
		position: relative;
		top: 22px;
		text-align: center;
		@media only screen and (min-width: 992px) {
			text-align: left;
		}
	}

	a {
		font-weight: 16px;
		font-weight: 700;
		color: #101820;
		text-decoration: none;
		border-bottom: 1px solid #000000;
	}
}

.menu__details {
	margin: 50px auto;
	@media only screen and (min-width: 992px) {
		margin: 0 auto;
	}

}

.menu__image {
	position: relative;
	@media only screen and (min-width : 480px) {
		img {
			width: 100%;
			height: 100%;
		}
	}
	@media only screen and (min-width: 992px) {
		margin: 0;
	}
}

.menu__direct {
	display: block;
	width: 100%;
	height: 100%;
	a {
		color: #FFFFFF;
		font-weight: 700;
		position: absolute;
		right: 15px;
		text-decoration: none;
		bottom: 0;
		z-index: 1;
		padding-top: 15px;
		text-align: center;
		width: 100px;
		height: 50px;
		background: #000;
	}
}
