.hero--menu {
    background-image: url('http://alvisng.me/adelphi_coffee/dist/images/adelphi-menu-header-bg.jpg');
    .hero__jumbotron--title {
        line-height: $header-lh-xs;
        @media only screen and (min-width: 992px) {
            line-height: $header-lh;
        }
    }

    .hero__jumbotron--subtitle span {
        font-weight: 600;
        font-style: italic;
    }
}

.masterpiece {
    .tab-pane {
        .tab-inner {
            padding: 50px 0 20px;
            @media only screen and (min-width: 768px) {
                padding-top: 86px 0 20px;
            }
        }
    }
}

.masterpiece--title {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    color: #101820;
}

.masterpiece__menu {
    margin-top: 42px;
}

ul.masterpiece__menu--pills {
     li {
         a {
            position: relative;
            color: rgba(#101820, 0.5);
            font-weight: 700;
            p {
                padding-top: 18px;
                font-size: 12px;
                @media only screen and (min-width: 768px) {
                    font-size: $body-p-xs;
                }
            }
            &:hover,
            &:focus {
                background-color: transparent;
                color: #101820;
            }
        }
    }
}

ul.masterpiece__menu--pills {
    img {
        width: 33px;
        height: 33px;
        opacity: 0.3;
        transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        @media only screen and (min-width: 768px) {
            width: 66px;
            height: 66px;
        }
    }
}

ul.masterpiece__menu--pills {
    li {
        display: inline-block;
        @media only screen and (min-width: 768px) {
            display: table-cell;
        }
        &.active,
        &:hover,
        &:focus {
            img {
                opacity: 1;
                transform: none;
                transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }
    }

    a {
        padding: 10px;
        @media only screen and (min-width: 768px) {
            padding: 10px 15px;
        }
    }
}

.masterpiece__menu-each:not(:last-child) {
    padding-bottom: 20px;
}
