.hero--menu {
    background-image: url('http://alvisng.me/adelphi_coffee/dist/images/adelphi-menu-header-bg.jpg');
    .hero__jumbotron--title {
        line-height: 44px;
    }

    .hero__jumbotron--subtitle span {
        font-weight: 600;
        font-style: italic;
    }
}
