.experience__slide {
    position: relative;
    img {
        height: 350px;
        @media only screen and (min-width: 992px) {
            height: auto;
        }
    }
}
.experience__slide--content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    @media only screen and (min-width : 480px) {
        width: 90%;
        height: 100%;
        margin: auto;
        text-align: center;
        top: 50%;
    }
    @media only screen and (min-width : 1200px) {
        width: 50%;
        height: 100%;
        margin: auto;
        overflow: auto;
        top: 190px; left: auto; bottom: 0; right: 0;
    }
}

.experience__slide--title,
.experience__slide--caption {
    color: #FFFFFF;
}

// Owl Carousel customs
.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-dots {
    position: absolute;
    bottom: 0; left: 0; right: 0;
}

.owl-dots .owl-dot span {
    background-color: #FFFFFF!important;
    &:hover {
        background: #869791!important;
    }
}
