footer {
  font-size: $body-p-xs;
  line-height: $body-lh-xs;
  padding-top: 71px;
  @media only screen and (min-width: 992px) {
    font-size: $body-p-lg;
    line-height: $body-lh-lg;
    padding-top: 142px;
    padding-bottom: 68px;
  }
  h2 {
    font-weight: 700;
    margin-top: 0;
    font-size: 20px;
    line-height: 24px;
    @media only screen and (min-width: 992px) {
      font-size: 22px;
      line-height: 26px;
    }
  }
  a {
    color: #101820;
    font-weight: 700;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    &:focus {
      text-decoration: none;
      color: inherit;
    }
  }
  .footer__info {
    padding-top: 35px;
    padding-bottom: 71px;
  }

  .footer__copyright {
    font-size: 11px;
    color: lighten(#101820, 50%);
    @media only screen and (min-width: 992px) {
      font-size: 13px; 
    }
  }
}
