footer {
    padding-top: 142px;
    padding-bottom: 68px;
    font-size: 16px;
    line-height: 22px;

    h2 {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        margin-top: 0;
    }

    a {
        color: #101820;
        font-weight: 700;
        &:hover {
            text-decoration: none;
            color: inherit;
        }

        &:focus {
            text-decoration: none;
            color: inherit;
        }
    }
}
