$logo-width: 223px;
$logo-margin: - ($logo-width / 2);

.desktop-brand {
    position: relative;
    display: none;
    @media only screen and (min-width: 992px) {
        display: block;
    }
}

.navbar-header {
    padding-top: 15px;
}

.desktop-brand__logo {
    position: absolute;
    height: auto;
    left: 50%;
    right: 50%;
    top: 33px;
    margin-left: $logo-margin;
}

.navbar-left {
    float: left;
    margin-left: 15px;
    z-index: 1;
}

.mobile-brand {
    @media only screen and (min-width: 992px) {
        display: none;
    }
}

.mobile-brand__logo {
    width: 100%;
    display: block;
    position: absolute;
    img {
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
}

.navigation__list.navigation__social--mobile {
    position: absolute;
    margin-top: 0;
    right: 15px;
    li {
        display: inline-block;
    }
    @media only screen and (min-width: 992px) {
        display: none;
    }
}

.navigation__social--desktop {
    display: none;
    @media only screen and (min-width: 992px) {
        display: block;
    }
}

.navigation .navigation__toggle {
    border: none;
}
.navigation .navigation--bar {
    background-color: #888;
}

.navigation__list {
    margin-top: 20px;
}

img.navigation--facebook {
    width: 11px;
    height: 20px;
}

img.navigation--instagram {
    width: 20px;
    height: 20px;
}

.navigation__list a.navigation--link {
    font-size: 18px;
    color: #101820;
    font-weight: 300;
    &:hover {
        background: none;
    }
}

.navigation .active .navigation--link {
    font-weight: 600;
}
