$logo-width: 223px;
$logo-margin: - ($logo-width / 2);

.desktop-brand {
    position: relative;
    display: none;
    @media only screen and (min-width: 992px) {
        display: block;
    }
}

.desktop-brand__logo {
    position: absolute;
    height: auto;
    left: 50%;
    right: 50%;
    top: 33px;
    margin-left: $logo-margin;
}

.mobile-brand {
    @media only screen and (min-width: 992px) {
        display: none;
    }
}

.navigation .navigation__toggle {
    border: 1px solid red;
}
.navigation .navigation--bar {
    background-color: #888;
}

.navigation__list {
    margin-top: 20px;
}

img.navigation--facebook {
    width: 11px;
    height: 20px;
}

img.navigation--instagram {
    width: 20px;
    height: 20px;
}

.navigation__list a.navigation--link {
    font-size: 18px;
    color: #101820;
    font-weight: 300;
    &:hover {
        background: none;
    }
}

.navigation .active .navigation--link {
    font-weight: 600;
}
