$logo-width: 350px;
$logo-margin: - ($logo-width / 2);

.brand {
	position: relative;

	.brand__logo {
		position: absolute;
		width: 350px;
		height: 50px;
		left: 50%;
		right: 50%;
		top: 0;
		margin-left: $logo-margin;
	}
}
